:root {
  --bg: #283b47;
  --sc-bg: #518f92;
  --nav: #b1cfbc;
  --header-text: #bd3a31;
  --main-text: #a76855;
  --hero-gradient1: #bd3a31;
  --hero-gradient2: #b1cfbc;
  --hero-gradient3: #518f92;
  --hero-gradient4: #dbdfc3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  background: linear-gradient(
    120deg,
    var(--hero-gradient1),
    var(--hero-gradient2),
    var(--hero-gradient3),
    var(--hero-gradient4)
  );
  color: var(--main-text);
  line-height: 1.6;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
svg {
  max-width: 100%;
  object-fit: cover;
  margin: 0;
}
section {
  overflow: hidden;
}

.head-text {
  font-family: "Sour Gummy", sans-serif;
  color: var(--header-text) !important;
}

.main-text {
  font-family: "Sour Gummy", sans-serif;
  color: var(--main-text) !important;
}

.wmain-text {
  font-family: "Sour Gummy", sans-serif;
  color: var(--nav) !important;
}

.obanar-text {
  font-family: "Sour Gummy", sans-serif;
  color: var(--header-text) !important;
}

.bbanar-text {
  font-family: "Sour Gummy", sans-serif;
  color: var(--nav) !important;
}

#header {
  background: var(--nav);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5%;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.logo {
  text-decoration: none;
  transition: 0.5s;
  font-size: 2em;
  letter-spacing: 1.5px;
}

#navbar li {
  list-style: none;
  padding: 0 10px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-text);
  transition: 0.5s ease;
  transition: color 0.5s ease;
  position: relative;
  padding-bottom: 4px;
}

.nav-links .active {
  color: var(--header-text);
}

.nav-links a:hover {
  color: var(--header-text);
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 23px;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(130deg, #0881797f, #bd3a3179, #0881797f);
  background-size: 400% 400%;
  animation: gradientBG 3s ease-in-out infinite;
  transition: transform 0.5s linear;
  z-index: 1;
}

.nav-links a:hover::after,
a.active::after {
  transform: translateX(-50%) scaleX(1.2);
  transition: transform 1s cubic-bezier(0.4, 2.3, 0.3, 1);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.theme-switch {
  display: inline-block;
  width: 60px;
  height: 32px;
  position: relative;
}
.theme-switch input {
  display: none;
}
.slider-mood {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, #da564d 5%, #b1cfbc 100%);
  box-shadow: 0 2px 8px rgba(44, 83, 100, 0.1);
  border-radius: 32px;
  transition: background 0.4s;
}
.slider-mood:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 24px;
  height: 24px;
  background: #b1cfbc;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(44, 83, 100, 0.1);
  transition: transform 1s cubic-bezier(0.4, 2.3, 0.3, 1), background 0.4s;
  z-index: 2;
}
.theme-switch input:checked + .slider-mood {
  background: linear-gradient(120deg, #272228 10%, #e6ac19 70%);
}
.theme-switch input:checked + .slider-mood:before {
  transform: translateX(28px) rotate(360deg);
  background: #272228;
}

.pro {
  transition: 1s !important;
  background: rgba(243, 241, 241, 0.68);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10.3px);
  backdrop-filter: blur(10.3px);
  border: 1px solid rgba(243, 241, 241, 0.14);
}

.pro:hover {
  transition: 1s;
  background: rgb(243, 241, 241);
  border-radius: 16px;
  box-shadow: -20px -10px 30px 13px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(14.3px);
  backdrop-filter: blur(14.3px);
  border: 1px solid rgba(243, 241, 241, 1);
  transform: scale(1.1) !important;
  z-index: 980;
}

.pro img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  mix-blend-mode: darken;
}

.ribbon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 140px;
  padding: 5px 0;
  background-color: var(--header-text);
  color: white;
  text-align: center;
  font-weight: bold;
  transform: rotate(45deg);
  top: 20px;
  right: -35px;
  font-size: 14px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.pro .bi {
  transition: 0.5s;
  padding: 3% 30%;
  margin: 10%;
  border-radius: 12px;
  background-color: #ffffff;
  color: var(--header-text);
  text-align: center;
  line-height: 40px;
  height: 10px;
  vertical-align: middle;
  line-height: normal;
}
.pro .bi:hover,
.pro .bi:active {
  transition: 0.5s;
  background-color: var(--hero-gradient1);
  color: #fff;
}

/* newsletter */
#newsletter {
  background-image: url("/assets/img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg);
  margin-block: 100px;
}
#newsletter form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#newsletter form input {
  color: var(--main-text);
  background-color: #00000000;
  border: var(--header-text) 2px solid;
  color: var(--nav);
}

#newsletter form .submitbtn {
  padding: 15px 20px;
  margin: 10px;
  border: var(--header-text) 1px solid;
  border-radius: 15px;
  background-color: rgba(248, 248, 248, 0);
  color: var(--header-text);
  font-size: large;
  transition: 1s;
}
#newsletter form .submitbtn:hover,
#newsletter form .submitbtn:active {
  border: var(--header-text) 1px solid !important;
  background-color: var(--header-text) !important;
  color: var(--nav) !important;
  transform: rotateZ(-10deg) !important;
}

footer {
  background-color: var(--bg);
  color: var(--header-text);
  padding: 30px 0 0 0;
}

.f-link {
  text-decoration: none;
  display: block;
}
footer .f-link:hover,
footer .f-link:active {
  color: var(--header-text) !important;
}

footer .icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
}
footer .f-icon {
  text-decoration: none;
  color: var(--main-text);
  transition: ease-in-out 0.5s;
}
footer .f-icon:hover,
footer .f-icon:active {
  color: var(--header-text) !important;
  transform: scale(1.3);
}

footer .line {
  border-radius: 15px;
  margin: 20px auto;
  height: 7px;
  /* width: 80%; */
  background: linear-gradient(130deg, #0881797f, #bd3a3179, #0881797f);
  background-size: 400% 400%;
  animation: gradientBG 3s ease-in-out infinite;
  transition: transform 0.5s linear;
}
