:root {
  --bg: #dbdfc3;
  --sc-bg: #518f92;
  --nav: #b1cfbc;
  --header-text: #bd3a31;
  --main-text: #283b47;
  --hero-gradient1: #bd3a31;
  --hero-gradient2: #b1cfbc;
  --hero-gradient3: #518f92;
  --hero-gradient4: #dbdfc3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  background: linear-gradient(
    120deg,
    var(--hero-gradient1),
    var(--hero-gradient2),
    var(--hero-gradient3),
    var(--hero-gradient4)
  );
  background-size: 400% 400%;
  animation: gradientBG 5s ease-in-out infinite;
  transition: background 0.4s, color 0.4s;
  color: var(--main-text);
  line-height: 1.6;
  transform-style: preserve-3d;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
section {
  overflow: hidden;
}

.head-text {
  font-family: "Sour Gummy", sans-serif;
  color: var(--header-text) !important;
}

.main-text {
  font-family: "Sour Gummy", sans-serif;
  color: var(--main-text) !important;
}

.wmain-text {
  font-family: "Sour Gummy", sans-serif;
  color: var(--nav) !important;
}

#header {
  background: var(--nav);
  transition: background 0.4s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5%;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

#navbar li {
  list-style: none;
  padding: 0 10px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.5s ease;
  transition: color 0.5s ease;
  position: relative;
  padding-bottom: 4px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-links a::after {
  content: "";
  margin-top: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  width: 80%;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(130deg, #bd3a3179, #0881797f);
  animation: gradientBG 1s ease-in-out infinite;
  transition: transform 1.5s cubic-bezier(0.4, 2.3, 0.3, 1);
  z-index: 1;
}

.nav-links a:hover::after,
a.active::after {
  transform: translateX(-50%) scaleX(1.2);
  transition: transform 1s cubic-bezier(0.4, 2.3, 0.3, 1);
  color: #088178;
}

.pro {
  transition: 1s !important;
  background: rgba(243, 241, 241, 0.68);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10.3px);
  backdrop-filter: blur(10.3px);
  border: 1px solid rgba(243, 241, 241, 0.14);
}

.pro:hover {
  transition: 1s;
  background: rgb(243, 241, 241);
  border-radius: 16px;
  box-shadow: -20px -10px 30px 13px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(16.3px);
  backdrop-filter: blur(16.3px);
  border: 1px solid rgba(243, 241, 241, 1);
  transform: scale(1.1) !important;
}

.pro img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  mix-blend-mode: darken;
}

.pro .btncart {
  transition: 0.5s;
  padding: 10px 20px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #fefffee4;
  color: var(--header-text);
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.pro .btncart:hover,
.pro .btncart:active {
  transition: 0.5s;
  background-color: var(--hero-gradient1);
  color: #fff;
  border: 1px solid #fff;
}

/* newsletter */
#newsletter {
  background-image: url("/assets/img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--main-text);
  margin-block: 100px;
}
#newsletter form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#newsletter form input {
  color: var(--main-text);
  background-color: #00000000;
  border: var(--header-text) 2px solid;
  color: var(--nav);
}

#newsletter form .submitbtn {
  padding: 15px 20px;
  margin: 10px;
  border: var(--nav) 1px solid;
  border-radius: 15px;
  background-color: rgba(248, 248, 248, 0);
  color: var(--header-text);
  font-size: large;
  transition: 1s;
}
#newsletter form .submitbtn:hover,
#newsletter form .submitbtn:active {
  border: var(--header-text) 1px solid !important;
  background-color: var(--header-text) !important;
  color: var(--nav) !important;
  transform: rotateZ(-10deg) !important;
}

footer {
  background-color: var(--main-text);
  color: var(--nav);
  padding: 30px 0 0 0;
}
footer .logo {
  width: 20%;
}
.f-link {
  text-decoration: none;
  display: block;
}
footer .f-link:hover,
footer .f-link:active {
  color: var(--nav) !important;
}

footer .icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
}
footer .f-icon {
  text-decoration: none;
  color: var(--header-text);
  transition: ease-in-out 1s;
}
footer .f-icon:hover,
footer .f-icon:active {
  color: var(--nav) !important;
  transform: scale(1.3);
}

footer .line {
  background: linear-gradient(130deg, #bd3a3179, #0881797f);
  border-radius: 15px;
  margin: 20px auto;
  height: 7px;
  /* width: 80%; */
}
